# Api key of the https://api.henrikdev.xyz/ api for valorant
APIKEY=
# PUUID of the account you want to use to get the data from in the dbpopulate(opt)
PUUID=
# Name and tag of the account you want to use to get the data from in the dbpopulate(opt) in case of a search error without the PUUID
NAME=
TAG=
